.stage {
  font-size: 70vh;
  cursor: default;
  text-align: center;
  transition: opacity .5s ease;
  height: 100%;
}

/* FEEDBACK */

.feedback {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-content: space-around;
  justify-content: space-around;

  span {
    display: block;

    &:first-child {
      font-size: 130%;
    }
  }
}

.correct {
  color: #0A7C36;
  opacity: 0;
}

.incorrect {
  color: #EE1136;
  opacity: 0;
}
