<template name="head">
  <section class="modal">
    {{> yield "modal"}}
  </section>
  <section class="head">
    <div class="feedback">

    </div>
  </section>
</template>


<template name="foot">
  <section class="foot">
    {{>controls}}
  </section>
</template>

<template name="footKana">
  <section class="foot">
    {{>controlsKana}}
  </section>
</template>

<template name="controls">
  <div class="globalControls">
    <button class="openStatistics">Statistics</button>
  </div>
</template>

<template name="controlsKana">
  <div class="globalControls">
    <button class="openStatistics">Statistics</button>
  </div>
  <div class="modeControls">
    <button class="start">はじめなさい</button>
  </div>
</template>
