<template name="head">
  <section class="modal">
    {{> yield "modal"}}
  </section>
  <section class="head">
    <div class="headControls">
      <button class="home">
        <img src="/home.svg" />
      </button>
      <button class="openStatistics">
        <img src="/statistics.svg" />
      </button>
      <button class="logout">
        <img src="/signout.svg" />
      </button>

    </div>
    <div class="feedback">

    </div>
  </section>
</template>


<template name="foot">
  <section class="foot">
  </section>
</template>

<template name="footKana">
  <section class="foot">
    {{>controlsKana}}
  </section>
</template>

<template name="controlsKana">
  <div class="modeControls">
    <button class="start">はじめなさい</button>
  </div>
</template>
