<template name="contentHome">
  <div class="welcome">
    {{#unless currentUser}}
      Konnichiwa!
      You have to create an account for your statistics to be saved.
      You cant test kanawobenkyou without creating an account though.
      {{> atForm}}
    {{/unless}}
    <h1>ようこそ</h1>
    <h2>What do you want to learn today?</h2>
  </div>
  <a href="/hiragana" class="kanaLink">あ<br /><small>hiragana</small></a>
  <a href="/katakana" class="kanaLink">ア<br /><small>katakana</small></a>
</template>

<template name="contentKana">
  <div class="stage">

  </div>
</template>
